<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>k-joseph</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->


	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.SystemMonitorActivator</activator>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		SystemMonitor.hbm.xml
	</mappingFiles>
	
	<dwr>
        <allow>
            <create creator="new" javascript="DWRSystemMonitorService">
                <param name="class" value="org.openmrs.module.systemmonitor.web.dwr.DWRSystemMonitorService"/>
                <include method="getDataForClientPushing"/>
            </create>
        </allow>
 
        <signatures>
            <![CDATA[
            import org.openmrs.module.systemmonitor.web.dwr.DWRSystemMonitorService;
            DWRSystemMonitorService.getDataForClientPushing();
            ]]>
        </signatures>
    </dwr>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>systemmonitor.viralLoadConceptId</property>
		<defaultValue>856</defaultValue>
		<description>Supports configuring the Viral Load Concept</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.reasonForExistingCareConceptId</property>
		<defaultValue>1811</defaultValue>
		<description>
			Supports configuring the REASON FOR EXITING CARE Concept
		</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.hivProgramID</property>
		<defaultValue>2</defaultValue>
		<description>Supports configuring the HIV Program by ID</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.SITEID</property>
		<defaultValue>JEMBI</defaultValue>
		<description>This ID identifies a site (in Rwanda it is called FOSID)
			and is mapped to
			a DHIS2 organization Unit
		</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.DHISAPIROOTURL</property>
		<defaultValue>http://82.196.9.250:8080/api</defaultValue>
		<description>
			DHIS2 Instance's Web API Root url/link
		</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.DHISUSERNAME</property>
		<defaultValue>sphentry</defaultValue>
		<description>
			DHIS2 Account Username, Organization account is preferred
		</description>
	</globalProperty>

	<globalProperty>
		<property>systemmonitor.DHISPASSWORD</property>
		<defaultValue>SphDataEntry123</defaultValue>
		<description>
			DHIS2 Password, Organization account is preferred
		</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.configurations.openingHour</property>
		<defaultValue>0800</defaultValue>
		<description>
			Clinic's/Site's Opening hour
		</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.configurations.closingHour</property>
		<defaultValue>1700</defaultValue>
		<description>
			Clinic's/Site's Closing hour
		</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.configurations.openingDays</property>
		<defaultValue>Mo,Tu,We,Th,Fr</defaultValue>
		<description>
			Clinic's/Site's Opening Days
		</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.numberOfSecondsAtOpenMRSStartup</property>
		<defaultValue>1467311830</defaultValue>
		<description>
			Keeps records of the current number of seconds when OpenMRS is starting
		</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.cd4CountConceptIp</property>
		<defaultValue>5497</defaultValue>
		<description>Supports configuring CD4 COUNT Concept</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.antiretroviralDrugsConceptSetId</property>
		<defaultValue>1085</defaultValue>
		<description>Supports configuring ANTIRETROVIRAL DRUGS Concept Set</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.numberOfVisitsMetricEncounterTypeIds</property>
		<defaultValue>2</defaultValue>
		<description>USed to set encounter type ids for Rwanda EMT total visits indicator</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.numberOfTotalNewPatientsMetricEncounterTypeIds</property>
		<defaultValue>1</defaultValue>
		<description>USed to set encounter type ids for Rwanda EMT total new patients indicator</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.adultInitialEncounterTypeId</property>
		<defaultValue>1</defaultValue>
		<description>Encounter Type ID for Adults Initial Encounters</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.adultReturnEncounterTypeId</property>
		<defaultValue>2</defaultValue>
		<description>Encounter Type ID for Adults Return Encounters</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.pedsInitialEncounterTypeId</property>
		<defaultValue>3</defaultValue>
		<description>Encounter Type ID for Paediatrics Initial Encounters</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.pedsReturnEncounterTypeId</property>
		<defaultValue>4</defaultValue>
		<description>Encounter Type ID for Paediatrics Return Encounters</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.backupFolderPathOrName</property>
		<defaultValue>backup</defaultValue>
		<description>Database/OpenMRS backup folder location/path or folder name in data directory</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.numberOfMonthsBeforeDeletingLogsAndData</property>
		<defaultValue>12</defaultValue>
		<description>The number of months (30 days each month) the system should keep the logged data and DHIS data before auto-deleting it</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.addedLocalDHISMappings</property>
		<defaultValue>false</defaultValue>
		<description>Set to 'true' if you have added local DHIS Mappings not to be overwritten re-loading the module, but update the whole file every after upgrade manually</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.evaluationAndReportingSToday</property>
		<defaultValue>2016-07-01 00:00:00</defaultValue>
		<description>(yyyy-MM-dd HH:mm:ss) date format for the currently day for System monitor module, this is the starting day when SMT evaluates data and reports and will auto run until the date today</description>
	</globalProperty>
	<globalProperty>
		<property>systemmonitor.toggleSMTEvaluationAndReportingOnOrOff</property>
		<defaultValue>on</defaultValue>
		<description>Set to either on or off, if set to on SMT evaluation and reporting/pushing is possible but impossible when set to off</description>
	</globalProperty>

</module>